body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.hero {
  background-color: #1f2937;
  padding: 20px 200px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 80px;
  border-radius: 50%;
}

.logo-text {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 10px;
  margin-right: auto;
}

.links {
  display: flex;
  gap: 20px;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.page-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding-bottom: 80px;
  gap: 40px;
}

.page-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #0069ed;
  font-size: 18px;
  color: #e5e7eb;
  border-radius: 10px;
  border: none;
  margin: 0;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 250ms ease-in-out, transform 150ms ease;
}

button:hover {
  background: #0053ba;
}

button:focus {
  background: #00387c;
  outline-style: solid;
  outline-color: transparent;
}

#hero-image {
  width: 400px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 200px;
}

.information-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 30px;
}

.infos {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 70px;
}

div.infos > div {
  text-align: center;
  width: 130px;
}

.infos img {
  width: 120px;
  border: solid 3px #3882f6;
  border-radius: 20px;
}

.quote-container {
  background: #e5e7eb;
  padding: 100px 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 20px;
}

.owner {
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
  align-self: flex-end;
}

.action {
  padding: 80px 200px;
}

.action-container {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
}

.action-info .title {
  font-size: 24px;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 24px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #e5e7eb;
}